@use 'reset';

body {
  font-family: Arial, Helvetica, sans-serif;
}

.main {
  &__title {
    font-size: 2rem;
    font-weight: bold;
    margin: 2rem 0;
    &--secondary {
      font-size: 1.5rem;
      &--span {
        font-weight: bold;
        color: #98c1d9;
      }
    }
    &__projects {
      margin-top: 3rem;
      font-size: 1.8rem;
      font-weight: bold;
    }
  }
  &__div {
    border: 2px solid #98c1d9;
    padding: 3rem;
    border-radius: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 3rem;
  }
  &__description {
    margin-top: 1rem;
    line-height: 1.5rem;
  }
  &__picture {
    border-radius: 50%;
  }
  &__link {
    display: inline-block;
    background-color: #98c1d9;
    color: white;
    padding: .5rem;
    border-radius: .3rem;
    margin-top: 1rem;
    margin-right: 1rem;
  }
  &__button {
    background-color: #ee6c4d;
    color: white;
    border: none;
    padding: .5rem;
    border-radius: .3rem;
    font-size: 0.8rem;
  }
  &__trash {
    margin-right: .5rem;
    vertical-align:bottom;
  }
  &__cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 0.7rem;
    margin-top: 1rem;  
  }
}

.error404 {
  font-weight: bold;
  width: 60%;
  margin: 10rem auto;
  padding: 4rem;
  text-align: center;
  border: 2px solid #98c1d9;
  border-radius: 0.3rem;
  font-size: 3rem;
  &__title {
    width: fit-content;
    font-weight: 400;
    margin: 1.5rem auto 0 auto;
    padding-top: 1.5rem;
    color: #3d5a80;
    font-size: 2rem;
    border-top: 1px solid #3d5a80;
  }
}
