.layout {
  display: flex;
  height: 100vh;
  flex-direction: column;
  &.dark {
    background-color: #3d5a80;
  }
}

.children {
  flex-grow: 1;
  max-width: 80%;
  width: 100%;
  margin: auto;
  &.dark {
    background-color: #3d5a80;
    color: white;
    transition: all 0.3s;
  }
}
